

/* Start Preloader */
.hidden {
	overflow: hidden;
}

.centrado {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: #fff;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lds-hourglass {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-hourglass:after {
	content: " ";
	display: block;
	border-radius: 50%;
	width: 0;
	height: 0;
	margin: 8px;
	box-sizing: border-box;
	border: 32px solid #008049;
	border-color: #008049 transparent #008049 transparent;
	animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
	0% {
		transform: rotate(0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	50% {
		transform: rotate(900deg);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	100% {
		transform: rotate(1800deg);
	}
}

/* End Preloader */

#carousel1 .item img {
	display: block;
	width: 100%;
	object-fit: cover;
}

/* carousel */

@media(max-width:768px) {
	#carousel1 .item img {
		height: 245px;
	}
}


/* TESTIMONIOS */
* {
	margin: 0;
	padding: 0;
	font-family: "montserrat", sans-serif;
}

.testimonials {
	padding: 40px 0;
	background: #f1f1f1;
	color: #434343;
	text-align: center;
}

.inner {
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 0 20px;
}

.border {
	width: 160px;
	height: 5px;
	background: #6ab04c;
	margin: 16px auto;
}

.row-testimonial {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col-testimonial {
	flex: 33.33%;
	max-width: 33.33%;
	box-sizing: border-box;
	padding: 15px;
}

.testimonial {
	background: #fff;
	padding: 30px;
}

.testimonial img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.name {
	font-size: 20px;
	text-transform: uppercase;
	margin: 20px 0;
}

.stars {
	color: #6ab04c;
	margin-bottom: 10px;
}


@media screen and (max-width:960px) {
	.col-testimonial {
		flex: 100%;
		max-width: 80%;
	}
}

@media screen and (max-width:600px) {
	.col-testimonial {
		flex: 100%;
		max-width: 100%;
	}
}



/* INICIO STYLES FOOTER */
.hero {
	width: 30%;
	height: 15vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 15px;
}

.social-links {
	display: flex;
}

.social-links a {
	width: 40px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	color: #000;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
	margin: 0 30px 0 0;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	transition: transform 0.5s;
	color: #008049;

}

.social-links a .fab {
	font-size: 30px;
	line-height: 40px;
	position: relative;
	z-index: 10;
	transition: color 0.5s;
}

.social-links a::after {
	content: "";
	width: 100%;
	height: 100%;
	top: -90px;
	left: 0;
	background-image: linear-gradient(to top, #8ec351 5%, #008049 95%);
	position: absolute;
	transition: 0.5s;
}

.social-links a:hover::after {
	top: 0;
}

.social-links a:hover .fab {
	color: #fff;

}

.social-links a:hover {
	transform: translateY(-10px);
}

@media (max-width: 768px) {
	.hero {
		width: 100%;
		height: 12vh;
		background-image: linear-gradient(-225deg, #FFFEFF 0%, #f2ffff00 100%);
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;


	}

	.social-links {
		display: flex;
	}

	.social-links a {
		width: 40px;
		height: 40px;
		text-align: center;
		text-decoration: none;
		color: #000;
		box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
		margin: 0 30px 0 0;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
		transition: transform 0.5s;
	}

	.social-links a .fab {
		font-size: 35px;
		line-height: 40px;
		position: relative;
		z-index: 10;
		transition: color 0.5s;
	}

	.social-links a::after {
		content: "";
		width: 100%;
		height: 100%;
		top: -90px;
		left: 0;
		background-image: linear-gradient(to top, #8ec351 5%, #008049 95%);
		position: absolute;
		transition: 0.5s;
	}

	.social-links a:hover::after {
		top: 0;
	}

	.social-links a:hover .fab {
		color: #fff;

	}

	.social-links a:hover {
		transform: translateY(-10px);
	}
}


.appWhatssapp {
	position: fixed;
	right: 26px;
	bottom: 100px;
	width: 21px;
	z-index: 1000;
	font-size: 3rem;
	color: #00bb2d;
}

.appWhatssapp:hover {
	color: #008049;
}

/*Aquí debajo va el FOOTER*/

ul {
	margin: 0px;
	padding: 0px;
}

.footer-section {
	background-image: linear-gradient(to right, #252525 0%, #010101 100%);
	position: relative;
}

.footer-cta {
	border-bottom: 1px solid #373636;
}

.single-cta i {
	color: #008049;
	font-size: 30px;
	float: left;
	margin-top: 8px;
}

.cta-text {
	padding-left: 15px;
	display: inline-block;
}

.cta-text h4 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 2px;
}

.cta-text span {
	color: #757575;
	font-size: 15px;
}

.footer-content {
	position: relative;
	z-index: 2;
}

.footer-pattern img {
	position: absolute;
	top: 0;
	left: 0;
	height: 330px;
	background-size: cover;
	background-position: 100% 100%;
}

.footer-logo {
	margin-bottom: 30px;
}

.footer-logo img {
	max-width: 200px;
}

.footer-text p {
	margin-bottom: 14px;
	font-size: 14px;
	color: #7e7e7e;
	line-height: 28px;
}

.footer-social-icon span {
	color: #fff;
	display: block;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 20px;
}

a {
	color: #fff;
	font-size: 16px;
	margin-right: 15px;
}

.footer .widget1 p {
	font-size: 16px;
	color: rgba(255, 255, 255, .6);
}

.footer .socialLinks {
	margin-top: 28px;
}

.socialLinks ul li {
	display: inline-block;
}


.socialLinks ul li a i {
	display: block;
	margin: 0 2px;
	width: 40px;
	height: 40px;
	background: #fafafa;
	border-radius: 50%;
	text-align: center;
	margin-right: 5px;
	line-height: 40px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.socialLinks ul li a .fa-facebook-f {
	font-size: 30px;
	font-weight: bold;
	color: #4267b2;
}

.socialLinks ul li a .fa-instagram {
	font-size: 30px;
	font-weight: bold;
	color: #833AB4;
}


.socialLinks ul li a .fa-whatsapp {
	font-size: 30px;
	font-weight: bold;
	color: #00bb2d;
}


.socialLinks ul li a:hover i {
	color: #fff;
}

.socialLinks ul li a:hover .fa-facebook-f {
	background: #4267b2;
}

.socialLinks ul li a:hover .fa-instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}


.socialLinks ul li a:hover .fa-whatsapp {
	background: #00bb2d;
}


.footer-widget-heading h3 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 40px;
	position: relative;
}

.footer-widget-heading h3::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -15px;
	height: 2px;
	width: 50px;
	background: #008049;
}

.footer-widget ul li {
	display: inline-block;
	float: left;
	width: 50%;
	margin-bottom: 12px;
}

.footer-widget ul li a:hover {
	color: #008049;
}

.footer-widget ul li a {
	color: #878787;
	text-transform: capitalize;
}

.subscribe-form {
	position: relative;
	overflow: hidden;
}

.subscribe-form input {
	width: 100%;
	padding: 14px 28px;
	background: #2E2E2E;
	border: 1px solid #2E2E2E;
	color: #fff;
}

.subscribe-form button {
	position: absolute;
	right: 0;
	background: #008049;
	padding: 13px 20px;
	border: 1px solid #008049;
	top: 0;
}

.subscribe-form button i {
	color: #fff;
	font-size: 22px;
	transform: rotate(-6deg);
}

.copyright-area {
	background: #202020;
	padding: 25px 0;
}

.copyright-text p {
	margin: 0;
	font-size: 14px;
	color: #878787;
}

.copyright-text p a {
	color: #008049;
}

.footer-menu li {
	display: inline-block;
	margin-left: 20px;
}

.footer-menu li:hover a {
	color: #008049;
}

.footer-menu li a {
	font-size: 14px;
	color: #878787;
}



/* tarjetass arriba parallax*/

.corporativo {
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	cursor: pointer;
}

.corporativo-info {
	width: calc(33% - 10px);
	overflow: hidden;
}

.corporativo-img {
	width: 100%;
	border-radius: 6px;
	transition: .3s linear;
}

.corporativo-content {
	background-color: #ffffffdd;
	margin: 0 20px;
	padding: 30px;
	border-radius: 6px;
	transform: translateY(-60px);
	transition: .3s linear;
}

.corporativo-content p {
	font-size: 16px;
	margin-bottom: 10px;
}

.corporativo-info:hover .corporativo-img {
	transform: rotatey(360deg);
}
.corporativo-info:hover .corporativo-imgn {
	transform: translateY(20px);

}

.corporativo-info:hover .corporativo-content {
	transform: translateY(-80px);
}

@media screen and (max-width: 1020px) {
	.blog-posts {
		justify-content: center;
	}

	.corporativo-info {
		width: min(600px, 100%);
	}
}


/* BANNER NOSOTROS BG IMAGE */
.bg-banner {
	background-image: url("../img/banner-nosotros.jpg");
	background-position: center center;
	background-size: cover;
	height: 55vh;
}

/* BANNER SERVICIOS BG IMAGE */
.bg-banner-services {
	background-image: url("../img/banner-servicios.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 75vh;
}

/* Servicios */
.main-servicio {
	margin-top: 60px;
	width: 100%;
	min-height: 380px;
	text-align: center;
	position: relative;
	cursor: pointer;
}

@media (max-width: 1024px) {
	
.main-servicio {
	margin-top: 215px;
	width: 100%;
	min-height: 380px;
	text-align: center;
	position: relative;
	cursor: pointer;
}

}
.servicio {
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	z-index: 1;
	box-shadow: 0 0 20px -15px #008049;
	transition: transform .8s;

}

.servicio-logo {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	margin: -90px auto 0;
	background: #fff;
	border: 18px solid #f3f3f367;
}

.servicio-logo img {
	width: 50px;
	margin-top: 20px;
	transition: transform 1s;
}

.servicio h4 {
	height: 35px;
	width: 80%;
	background: #fff;
	margin: 50px auto;
	position: relative;

}

.servicio h4::after {
	content: '';
	width: 40px;
	height: 30px;
	background: linear-gradient(to right, #008049, #fff);
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: -1;
}

.servicio h4::before {
	content: '';
	width: 40px;
	height: 30px;
	background: linear-gradient(to right, #fff, #008049);
	position: absolute;
	left: -5px;
	bottom: -5px;
	z-index: -1;
}

.shadowOne {
	height: 200px;
	width: 80%;
	background: #ffffffed;
	position: absolute;
	border-radius: 10px;
	bottom: 0;
	left: 10%;
	z-index: -1;
	box-shadow: 0 0 20px -15px #008049;
	transition: transform .8s;
}

.shadowTwo {
	height: 200px;
	width: 64%;
	background: #ffffff;
	position: absolute;
	border-radius: 10px;
	bottom: 0;
	left: 18%;
	z-index: -2;
}

.main-servicio:hover .servicio {
	transform: translateY(-50px);

}

.main-servicio:hover .shadowOne {
	transform: translateY(-25px);

}

.main-servicio:hover img {
	transform: rotate(360deg);

}

.container .card-servicios{
    width: 330px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card-servicios:hover {
	transform: translateY(-15px);
	box-shadow: 0 10px 12px #008049a8;
}


/* FAQ */